@layer reset {
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }
  
    :where(:not(dialog)) {
      margin: 0;
    }
  }
  
  @layer demo {
    :root {
      color-scheme: dark;
      --nav-block-size: 74px;
    }
  }
 
  @layer components.navbar {
    .navbar {
      background-color:black;
      color: white;
      block-size: var(--nav-block-size);
      display: grid;
      gap: 1rem;
      grid-auto-flow: column;
      inset-block-start: 0;
      justify-content: space-between;
      padding-inline: 0.75rem;
      place-items: center;
      position: sticky;
      z-index: 10;
   
    }
  
    .nav-actions {
      display: grid;
      gap: 0.4rem;
      grid-auto-flow: column;
      place-items: center;
    }
  
    .nav-link {
      color: rgb(192, 7, 7);
      text-decoration: none;
      font: 600 0.875rem/1.25rem system-ui, sans-serif;
    }
  
  
    .search-wrap {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      gap: 0.25rem;
      
    }
  
  
  
    .search-btn {
      color: white;
      inline-size: 1.5rem;
      block-size: 1.5rem;
      padding: 2px;
      margin: 0;
      cursor: pointer;
      background-color: inherit;
      border: none;
    }
  
    .search-input {
      border: none;
      background-color: inherit;
      border-block-end: 1px solid currentColor;
      color: white;
      padding-block: 0.25rem;
      min-inline-size: 5ch;
      inline-size: 100%;
      font: 500 0.875rem/1.25rem system-ui, sans-serif;
  
      &::placeholder {
        color: white;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    .nav-cart {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      gap: 2px;
    }
  
    .cart-icon-wrapper {
      padding: 2px;
      inline-size: 1.5rem;
      block-size: 1.5rem;
    }
  
    .nav-icon-svg {
      block-size: auto;
      display: block;
      max-inline-size: 100%;
    }
  }